container {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
    justify-content: space-between
}

.detailsContainer {
    display: flex;
    flex-direction: column;
}

.jobTitle {
    font-size: 10px;
    font-weight: bold;
}

.employerDetails {
    font-size: 8px;
    font-weight: light;
}

.date {
    margin-top: 4px;
    font-size: 8px;
    font-weight: light;
}

.projectDetails {
    font-size: 10px;
}