.header {
    display: flex;
    flex-direction: column;

    height: fit-content;
    padding: 1.8em 1em;

    background-color: #333333;
    color: white;
}

.name {
    margin-bottom: 0.5em;
    
    font-size: 2em;
    font-weight: bold;
}

.tag {
    font-size: 0.75em;
}