.header {
    display: flex;
    flex-direction: column;

    height: fit-content;
    padding: 25px 16px;

    background-color: #333333;
    color: white;
}

.name {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 14px;
}

.tag {
    font-size: 10px;
}