.contact-container-horizontal {
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    margin-top: 8px;
}

.row-container {
    display: flex;
    flex-direction: row;
    align-items: center;

    font-size: 0.8rem;
}

.contact-icon {
    margin-right: 5px;
}
