.contact-container {
    width: 100%;
    height: 110px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.row-container {
    display: flex;
    flex-direction: row;
    align-items: center;

    font-size: 0.8rem;
}

.contact-icon {
    margin-right: 5px;
}