.header {
    display: flex;
    flex-direction: column;

    height: fit-content;
    padding: 1.2em 1em;

    background-color: #2D3A56;
    color: white;

    z-index: 999;
}

.name {
    text-align: center;

    font-size: 2.2em;
    font-weight: bold;
}

.header-tag {
    margin: 0.7em 0;

    text-align: left;

    font-size: 0.8em;
}

.header-subtag {
    text-align: center;
    font-size: 0.8em;
}