.container {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
    justify-content: space-between
}

.job-title {
    font-size: 0.9rem;
    font-weight: bold;
}

.employer-details {
    font-size: 0.7rem;
    font-weight: light;
}

.job-date {
    margin-top: 4px;

    font-size: 0.7rem;
    font-weight: light;
}

.project-details {
    font-size: 0.8rem;
}