.app {
  width: 21cm;
  height: 29.7cm; 

  display: block;
  margin: 0 auto;
}

.main-body {
  background-color: white !important;
  height: 100%;
}

.page {
  flex-direction: column;
  background-color: #E4E4E4;
}

.flexRow {
  display: flex;
  flex-direction: row;
}