.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    margin-bottom: 8px;
}

.job-title {
    font-size: 0.9rem;
    font-weight: bold;
}

.employer-details {
    font-size: 0.8rem;
    font-weight: light;
}

.job-date {
    margin-top: 4px;

    font-size: 0.7rem;
    font-weight: light;
}

.project-details {
    font-size: 0.8rem;
}

hr {
    margin: 10px 0;
}